<h1>db#addPage</h1>
<p><%= @msg%></p>
<table>
    <%= form_for(@picture, url:{controller: 'pictures',action:'create'}) do |form|%>
        <tr><th>Title</th>
            <td><%= form.text_field :title %></td></tr>
        <tr><th>Data</th>
             <td><%= form.text_field :file %></td></tr>
        </tr>
        <tr><th></th>
            <td><%=form.submit "送信" %></td></tr>
        <%end%>
</table>


