<h1>DB#index</h1>
<p><%=@msg%></p>
<pre>
<table>
    <tr>
        <th>Title</th><th>Data</th><th></th><th></th>
    </tr>
    <% @data.each do |obj| %>
    <tr>
        <td><%= obj.title%></td>
        <td><%= obj.file%></td>
        <td><a href="/pictures/edit/<%=obj.id%>">Edit</a></td>
        <td><a href="javascript:delData(<%= obj.id %>);">Delete</a></td>
    </tr>
<%end%>
</table>
<a href = "/pictures/add">データの追加</a>
<a href = "/pictures/csv_download">CSVファイル出力</a>
</pre>
<script>
function delData(num){
    if(confirm('このデータを削除しますか？')){
        document.location = "/pictures/delete/" + num;
    }

    return false;
}

</script>

        
